<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="main-footer" th:fragment="footer-fragment">
    <strong>Copyright &copy; 2019 <a href="##">Ada个人网站</a>.</strong>
    保留所有权利
    <div class="float-right d-none d-sm-inline-block">
        <a  th:href="@{http://www.beian.gov.cn/portal/index?token=f2069c4c-46ad-4533-a55e-69796fe0b54e}" target="_blank">粤ICP备19093390号-1</a>
        <span class="ft-warn">&heartsuit;</span>
        <a href="https://gitee.com/adaXie" target="_blank">Ada</a>
    </div>
</footer>
</html>