<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar-fragment(path)" class="main-sidebar sidebar-dark-primary elevation-4">
    <a th:href="@{/admin/index}" class="brand-link">
        <img th:src="@{/common/img/logo.png}" alt=" Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Ada个人网站</span>
    </a>


    <div class="sidebar" >
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{/common/img/my.jpg}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block" th:text="${session.loginUser}"></a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-header">仪表板</li>
                <li class="nav-item">
                    <a th:href="@{/admin/index}" th:class="${path}=='index'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            管理首页
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/admin/blog/edit}" th:class="${path}=='edit'?'nav-link active':'nav-link'">
                        <i class="nav-icon fa fa fa-pencil-square-o"></i>
                        <p>
                            发布博客
                        </p>
                    </a>
                </li>

<!---------------------------------------管理模块-------------------------------------------------------------------->
                <li class="nav-item">
                    <a data-toggle="collapse" data-target="#manage_module" class = "nav-link">
                        <p>
                            管理模块
                        </p>
                    </a>
                </li>
                <div id="manage_module" class="collapse show">
                    <li class="nav-item">
                        <a th:href="@{/admin/blog}" th:class="${path}=='blog'?'nav-link active':'nav-link'">
                            <i class="fa fa-list-alt nav-icon" aria-hidden="true"></i>
                            <p>
                                博客管理
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/admin/comment}" th:class="${path}=='comment'?'nav-link active':'nav-link'">
                            <i class="fa fa-comments nav-icon" aria-hidden="true"></i>
                            <p>
                                评论管理
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/admin/category}" th:class="${path}=='category'?'nav-link active':'nav-link'">
                            <i class="fa fa-bookmark nav-icon" aria-hidden="true"></i>
                            <p>
                                分类管理
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/admin/tag}" th:class="${path}=='tag'?'nav-link active':'nav-link'">
                            <i class="fa fa-tags nav-icon" aria-hidden="true"></i>
                            <p>
                                标签管理
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/admin/link}" th:class="${path}=='link'?'nav-link active':'nav-link'">
                            <i class="fa fa-heart nav-icon" aria-hidden="true"></i>
                            <p>
                                友情链接
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/admin/about}" th:class="${path}=='about'?'nav-link active':'nav-link'">
                            <i class="fa fa-book nav-icon" aria-hidden="true"></i>
                            <p>
                                关于管理
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/version}" th:class="${path}=='version'?'nav-link active':'nav-link'">
                            <i class="fa  fa-code-fork nav-icon" aria-hidden="true"></i>
                            <p>
                                版本信息
                            </p>
                        </a>
                    </li>
                </div>



<!---------------------------------------系统模块-------------------------------------------------------------------->
                <li class="nav-item">
                    <a data-toggle="collapse" data-target="#system_module" class = "nav-link">
                        <p>
                            系统模块
                        </p>
                    </a>
                </li>
                <div id="system_module" class="collapse show">
                <li class="nav-item">
                    <a th:href="@{/admin/config}"
                       th:class="${path}=='config'?'nav-link active':'nav-link'">
                        <i class="fa fa-wrench nav-icon"></i>
                        <p>系统配置</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/admin/profile}"
                       th:class="${path}=='profile'?'nav-link active':'nav-link'">
                        <i class="fa fa-user-secret nav-icon"></i>
                        <p>修改密码</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a th:href="@{/admin/logout}" class="nav-link">
                        <i class="fa fa-sign-out nav-icon"></i>
                        <p>安全退出</p>
                    </a>
                </li>
                </div>

            </ul>
        </nav>

    </div><!--sidebar-->
</aside>
</html>