<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configuration.get('footerAbout')}">your singal blog.</a>  &nbsp;   • &nbsp;
        Powered by <a href="https://github.com/Ada0910" target="_blank" th:text="${configuration.get('footerCopyRight')}">2019 Ada</a><br/>
        ICP <a th:text="${configuration.get('footerICP')}">粤ICP备 xxxxxx-x号</a>
        <span class="ft-warn">&heartsuit;</span>
        <a href="https://gitee.com/adaXie" target="_blank">Ada</a>
    </div>
</footer>

</html>