<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head-fragment">
    <meta charset="utf-8">
    <title th:text="|${configuration.get('websiteName')} - ${pageName}|">主页</title>
    <meta name="description" th:content="${configuration.get('websiteDescription')}">
    <link rel="shortcut icon" th:href="@{${configuration.get('websiteIcon')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Window-target" content="_top"/>
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
</head>

<!--导航栏-->
<nav th:fragment="nav-fragment" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:text="${configuration.get('websiteName')}">
            </a>
        </div>


        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/index}">主页</a>
                    </li>
                    <li>
                        <a th:href="@{/link}">友情链接</a>
                    </li>
                    <li>
                        <a th:href="@{/about}">关于</a>
                    </li>
                    <li>
                        <a href="https://github.com/Ada0910">GitHub</a>
                    </li>
                </ul>
            </div>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>


<header th:fragment="header-fragment" class="intro-header"
        th:style="'background-image:url('+ @{/blog/amaze/images/header.jpg} +');',height=360px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
        <!--  <span class="subheading">
              千里之行，始于足下
          </span>-->
                </div>
            </div>
        </div>
    </div>
</header>


</html>