<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="blog-list-fragment" class="am-u-lg-8 am-u-sm-12">
    <main class="articles-list">
        <div>
            <th:block th:if="${null != blogPageResult}">
                <th:block th:each="blog,iterStat : ${blogPageResult.list}">
                    <article class="am-g blog-entry-article">
                        <div class="am-u-lg-6 am-u-lg-12 am-u-sm-12 blog-entry-text post-preview">
                            <div class="topic-header">
                                <div class="pull-left">
                                    <div class="blog-flex-center">
                                        <div class="blog-flex0">
                                            <img th:src="@{${configuration.get('yourAvatar')}}" alt=""
                                                 class="link avatar avatar-image">
                                        </div>
                                        <div class="author-lockup blog-flex1">
                                            <a class="link" href="javascript:;"
                                               th:text="${configuration.get('yourName')}">Ada</a>
                                            <span class="in">in</span>
                                            <span class="category-name">
                                <a class="category-name" rel="tag" th:href="@{'/category/' + ${blog.blogCategoryName}}"
                                   th:utext="${blog.blogCategoryName}" style="color:rgba(80, 159, 255, 0.8)">
                                    </a>
                            </span>
                                        </div>
                                    </div>
                                </div>
                                <span class="pull-right time pc_time"
                                      th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}">2019-01</span>
                            </div>


                            <div>
                                <div class="post-content-preview article-body" style="float:left ;width:30%;">
                                    <a th:href="@{'/blog/' + ${blog.blogId}}">
                                        <img th:src="@{${blog.blogCoverImage}}" alt=""></a>
                                </div>

                                <div style="float: left;margin-left: 10%;width: 60%;height: 100%;">
                                    <h1 class="post-index-title"><a itemtype="url"
                                                                    th:href="@{'/blog/' + ${blog.blogId}}">
                                        <th:block th:text="${blog.blogTitle}"></th:block>
                                    </a>
                                    </h1>


                                    <div style="height:100%;width:100%;margin-bottom: 20%">


                                        <div th:text="${#strings.substring(blog.blogContent,1,54)}">
                                        </div><a itemtype="url"
                                                 th:href="@{'/blog/' + ${blog.blogId}}">
                                        <div style="color:rgba(80, 159, 255, 0.8)">详情>>></div></a>
                                    </div>
                                </div>
                            </div>


                            <div class="clearfix topic-footer">
                                <span class="pull-left time mobile_time">2018-01</span>
                            </div>
                    </article>
                </th:block>
            </th:block>


            <th:block th:if="${null != blogPageResult}">
                <ul class="am-pagination">
                    <li th:class="${blogPageResult.currentPage==1}?'disabled' : 'am-pagination-prev'"><a
                            th:href="@{${blogPageResult.currentPage==1}?'##':'/page/' + ${blogPageResult.currentPage-1}}">&laquo;</a>
                    </li>
                    <li th:if="${blogPageResult.currentPage-3 >=1}"><a
                            th:href="@{'/page/' + ${blogPageResult.currentPage-3}}"
                            th:text="${blogPageResult.currentPage -3}">1</a></li>
                    <li th:if="${blogPageResult.currentPage-2 >=1}"><a
                            th:href="@{'/page/' + ${blogPageResult.currentPage-2}}"
                            th:text="${blogPageResult.currentPage -2}">1</a></li>
                    <li th:if="${blogPageResult.currentPage-1 >=1}"><a
                            th:href="@{'/page/' + ${blogPageResult.currentPage-1}}"
                            th:text="${blogPageResult.currentPage -1}">1</a></li>
                    <li class="active"><a href="#" th:text="${blogPageResult.currentPage}">1</a></li>
                    <li th:if="${blogPageResult.currentPage+1 <=blogPageResult.totalPage}"><a
                            th:href="@{'/page/' + ${blogPageResult.currentPage+1}}"
                            th:text="${blogPageResult.currentPage +1}">1</a></li>
                    <li th:if="${blogPageResult.currentPage+2 <=blogPageResult.totalPage}"><a
                            th:href="@{'/page/' + ${blogPageResult.currentPage+2}}"
                            th:text="${blogPageResult.currentPage +2}">1</a></li>
                    <li th:if="${blogPageResult.currentPage+3 <=blogPageResult.totalPage}"><a
                            th:href="@{'/page/' + ${blogPageResult.currentPage+3}}"
                            th:text="${blogPageResult.currentPage +3}">1</a></li>
                    <li th:class="${blogPageResult.currentPage==blogPageResult.totalPage}?'disabled' : ''">
                        <a
                                th:href="@{${blogPageResult.currentPage==blogPageResult.totalPage}?'##' : '/page/' + ${blogPageResult.currentPage+1}}">&raquo;</a>
                    </li>
                </ul>
            </th:block>
        </div>
    </main>
</div>
</html>