<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--头部-->
<head>
    <title th:text="${configuration.get('websiteName')}+' | '+${pageName}">详情页</title>
    <meta name="description" th:content="${configuration.get('websiteDescription')}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" th:href="@{${configuration.get('websiteIcon')}}"/>
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
</head>

<script th:src="@{/blog/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/blog/plugins/highlight/highlight.pack.js}"></script>
<script th:src="@{/blog/plugins/dictionary/dictionary.js}"></script>
<script th:src="@{/blog/plugins/comment/valid.js}"></script>
<script th:src="@{/blog/plugins/comment/comment.js}"></script>
<!-- sweetalert -->
<script th:src="@{/common/plugins/sweetalert/sweetalert.min.js}"></script>
<script>
    $(function () {
        $("#back-top").hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        $('article h1, article h2, article h3, article h4, article h5').find('a').removeAttr('target')
    })
</script>

<!--body-->
<body>
<div th:replace="blog/header::nav-fragment"></div>

<!--详情页头部（文章标题，浏览次数和标签）-->
<header th:fragment="header-fragment" class="intro-header"
        th:style="'background-image:url(' + @{/blog/amaze/images/header.jpg} + ');'">

</header>

<div class="container">


        <div class="row">
            <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1" >
                <div class="post-heading">
                    <h1 th:text="'标題：'+${blogDetail.blogTitle}" style="color:black "></h1>

                    <span class="meta" style="color:black">
                        <th:block th:text="${#dates.format(blogDetail.createTime, 'yyyy-MM-dd')}"></th:block> &nbsp;
                            <div class="comments-view" style="display: inline-block">
                                <a href="#comments" class="article-comments" style="color:black"><th:block
                                        th:text="${blogDetail.commentCount}" ></th:block>条评论</a> &nbsp;
                                <th:block th:text="${blogDetail.blogViews}"></th:block>浏览
                            </div>
                    </span>

                    <div class="tags post-tags" >
                        <th:block th:each="tag : ${blogDetail.blogTags}">
                            <p th:text="标签" style="display: inline-block"></p>&nbsp;&nbsp;
                            <a class="tag" rel="tag" th:href="@{'/tag/' + ${tag}}"  style="background-color: rgba(80, 159, 255, 0.8)">
                                <th:block th:text="${tag}" ></th:block>
                            </a>&nbsp;&nbsp;
                        </th:block>
                    </div>

                </div>
            </div>
        </div><!--row-->



    <div class="am-g am-g-fixed blog-fixed">
        <div class="am-u-lg-12 am-u-sm-12">
            <article class="am-article blog-article-p article-trigger">
                <div id="post-content" class="am-article-bd article-body">
                    <th:block th:utext="${blogDetail.blogContent}"/>

                </div>
            </article>
            <hr>
        </div>
    </div>



    <aside class="comments" id="comments">

        <th:block th:if="${null != commentPageResult}">
            <th:block th:each="comment,iterStat : ${commentPageResult.list}">

                <article class="comment">
                    <header class="clearfix">
                        <img th:src="@{/blog/amaze/images/avatar.png}" class="avatar"/>
                        <div class="meta">
                            <h3 th:text="${comment.commentator}"></h3>
                            <span class="date">  评论时间：
                                <th:block
                                        th:text="${#dates.format(comment.commentCreateTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
                            </span>
                        </div>
                    </header>
                    <div class="body">
                        <th:block th:text="${comment.commentBody}"></th:block>
                    </div>
                </article>

                <th:block th:unless="${#strings.isEmpty(comment.replyBody)}">
                    <article class="comment reply">
                        <header class="clearfix">
                            <img th:src="@{${configuration.get('yourAvatar')}}"
                                 style="float: left;border-radius: 100px;width: 50px;"/>
                            <div class="meta2">
                                <h3 th:text="${configuration.get('yourName')}">Ada</h3>
                                <span class="date">回复时间：
                                    <th:block
                                            th:text="${#dates.format(comment.replyCreateTime, 'yyyy-MM-dd HH:mm:ss')}"></th:block>
                                </span>
                            </div>
                        </header>
                        <div class="reply-body">
                            <th:block th:text="${comment.replyBody}"></th:block>
                        </div>
                    </article>
                </th:block>

            </th:block>
        </th:block>


        <th:block th:if="${null != commentPageResult}">
            <ul class="am-pagination">
                <li th:class="${commentPageResult.currentPage==1}?'disabled' : ''">
                    <a th:href="@{${commentPageResult.currentPage==1}?'##':'/blog/'+${blogDetail.blogId}+'?commentPage=' + ${commentPageResult.currentPage-1}+'#comments'}">&laquo;</a>
                </li>

                <li th:if="${commentPageResult.currentPage-3 >=1}">
                    <a th:href="@{'/blog/'+${blogDetail.blogId}+'?commentPage=' + ${commentPageResult.currentPage-3}+'#comments'}"
                       th:text="${commentPageResult.currentPage -3}">1</a>
                </li>

                <li th:if="${commentPageResult.currentPage-2 >=1}">
                    <a th:href="@{'/blog/'+${blogDetail.blogId}+'?commentPage=' + ${commentPageResult.currentPage-2}+'#comments'}"
                       th:text="${commentPageResult.currentPage -2}">1</a>
                </li>

                <li th:if="${commentPageResult.currentPage-1 >=1}">
                    <a th:href="@{'/blog/'+${blogDetail.blogId}+'?commentPage=' + ${commentPageResult.currentPage-1}+'#comments'}"
                       th:text="${commentPageResult.currentPage -1}">1</a>
                </li>

                <li class="active">
                    <a href="#" th:text="${commentPageResult.currentPage}">1</a>
                </li>

                <li th:if="${commentPageResult.currentPage+1 <=commentPageResult.totalPage}">
                    <a th:href="@{'/blog/'+${blogDetail.blogId}+'?commentPage=' + ${commentPageResult.currentPage+1}+'#comments'}"
                       th:text="${commentPageResult.currentPage +1}">1</a>
                </li>

                <li th:if="${commentPageResult.currentPage+2 <=commentPageResult.totalPage}">
                    <a th:href="@{'/blog/'+${blogDetail.blogId}+'?commentPage=' + ${commentPageResult.currentPage+2}+'#comments'}"
                       th:text="${commentPageResult.currentPage +2}">1</a>
                </li>

                <li th:if="${commentPageResult.currentPage+3 <=commentPageResult.totalPage}">
                    <a th:href="@{'/blog/'+${blogDetail.blogId}+'?commentPage=' + ${commentPageResult.currentPage+3}+'#comments'}"
                       th:text="${commentPageResult.currentPage +3}">1</a>
                </li>

                <li th:class="${commentPageResult.currentPage==commentPageResult.totalPage}?'disabled' : ''">
                    <a th:href="@{${commentPageResult.currentPage==commentPageResult.totalPage}?'##' : '/blog/'+${blogDetail.blogId}+'?commentPage=' + ${commentPageResult.currentPage+1}+'#comments'}">&raquo;</a>
                </li>

            </ul>
        </th:block>

    </aside>

    <!--添加评论-->
    <th:block th:if="${blogDetail.enableComment==0}">
        <aside class="create-comment" id="create-comment">
            <hr>
            <h2><i class="fa fa-pencil"></i> 添加评论</h2>
            <table id="commentForm" class="form">
                <tbody>
                <tr>
                    <td>
                        <input type="hidden" id="blogId" name="blogId" th:value="${blogDetail.blogId}"></input>
                        <input type="text" name="commentator" id="commentator" placeholder="(*必填)怎么称呼你?">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="email" name="email" id="email" placeholder="(*必填)你的联系邮箱">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="websiteUrl" id="websiteUrl" placeholder="你的网站地址(可不填)">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input style="width:50%" type="text" name="verifyCode" id="verifyCode"
                               placeholder="(*必填)请输入验证码">&nbsp;&nbsp;
                        <img alt="单击图片刷新！" class="pointer" style="margin-top: 15px; border-radius: 25px;"
                             th:src="@{/admin/kaptcha}"
                             onclick="this.src='/admin/kaptcha?d='+new Date()*1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea rows="5" name="commentBody" id="commentBody" placeholder="(*必填)请输入你的评论"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" align="center">
                        <button id="commentSubmit" type="submit"
                                class="submit am-btn am-btn-primary " onclick="commentSubmit()">提交
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </aside>
    </th:block>

    <p class="back-top" id="back-top" style="display:none"><a href="#top"><span></span></a></p>


</div>

<footer th:replace="blog/footer::footer-fragment"></footer>
</body>

</html>