<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/header::head-fragment"></head>


<body id="blog">
<div th:replace="blog/header::nav-fragment"></div>
<div th:replace="blog/header::header-fragment"></div>


<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-8 am-u-sm-12">
        <main class="links-list">

            <th:block th:unless="${#lists.isEmpty(favoriteLinks)}">
                <div class="title">
                    <h1 class="linkLine">友情链接</h1>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="favoriteLink : ${favoriteLinks}">
                            <li><a th:href="@{${favoriteLink.linkUrl}}"
                                   th:text="${favoriteLink.linkName}" target="_blank">友情链接</a>
                                -
                                <th:block th:text="${favoriteLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>


            <th:block th:unless="${#lists.isEmpty(recommendLinks)}">
                <div class="title">
                    <h1 class="linkLine">推荐社区</h1>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="recommendLink : ${recommendLinks}">
                            <li><a th:href="@{${recommendLink.linkUrl}}" th:text="${recommendLink.linkName}" target="_blank">推荐社区</a>
                                -
                                <th:block th:text="${recommendLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(webLinks)}">
                <div class="title">
                    <h1 class="linkLine">推荐网站</h1>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="webLink : ${webLinks}">
                            <li><a th:href="@{${webLink.linkUrl}}"
                                   th:text="${webLink.linkName}" target="_blank">推荐网站</a>
                                -
                                <th:block th:text="${webLink.linkDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>

        </main>
    </div>
</div>

<!-- 引入页脚footer-fragment -->
<footer th:replace="blog/footer::footer-fragment"></footer>
</body>
</html>