<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/header::head-fragment"></head>


<body id="blog">
<div th:replace="blog/header::nav-fragment"></div>
<div th:replace="blog/header::header-fragment"></div>


<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-8 am-u-sm-12">
        <main class="links-list">


            <th:block th:unless="${#lists.isEmpty(myInfos)}">
                <div class="title">
                    <h1 class="linkLine">作者信息</h1>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="myInfo : ${myInfos}" >
                            <li style="margin-top: 5px;margin-left: 10px;width: 100% ">
                                <div style="float: left ; width:20% ;height:80px"><a th:text="${myInfo.aboutName}" th:href="@{${myInfo.aboutUrl}}"  target="_blank" >作者信息</a>
                              <p th:text="${myInfo.aboutDescription}" ></p></div>

                                <div style="float:left;height:100px ;padding-bottom: 20px"><img  th:src="@{${myInfo.aboutImage}}" width="120px" height="80px"/></div>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>


            <th:block th:unless="${#lists.isEmpty(webInfos)}">
                <div class="title">
                    <h1 class="linkLine">网站版本</h1>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="webInfo : ${webInfos}">
                            <li><a th:href="@{${webInfo.aboutUrl}}" th:text="${webInfo.aboutName}" target="_blank">网站版本</a>
                                -
                                <th:block th:text="${webInfo.aboutDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(otherInfo)}">
                <div class="title">
                    <h1 class="aboutLine">其他</h1>
                </div>
                <div class="list">
                    <ul>
                        <th:block th:each="otherInfo : ${otherInfos}">
                            <li><a th:href="@{${otherInfo.aboutUrl}}"
                                   th:text="${otherInfo.aboutName}" target="_blank">其他</a>
                                -
                                <th:block th:text="${otherInfo.aboutDescription}"></th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </th:block>


        </main>
    </div>
</div>

<!-- 引入页脚footer-fragment -->
<footer th:replace="blog/footer::footer-fragment"></footer>
</body>
</html>