<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ada.blog.mapper.AboutMapper">
    <resultMap id="BaseResultMap" type="com.ada.blog.entity.About">
        <id column="about_id" jdbcType="INTEGER" property="aboutId"/>
        <result column="about_type" jdbcType="TINYINT" property="aboutType"/>
        <result column="about_name" jdbcType="VARCHAR" property="aboutName"/>
        <result column="about_url" jdbcType="VARCHAR" property="aboutUrl"/>
        <result column="about_description" jdbcType="VARCHAR" property="aboutDescription"/>
        <result column="about_image" jdbcType="VARCHAR" property="aboutImage"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        about_id ,about_name ,about_type,about_url,about_description,about_image,create_time,update_time
    </sql>

    <select id="getTotalAbouts" parameterType="Map" resultType="java.lang.Integer">
        select count(1)
        from tb_about
    </select>

    <select id="getAboutList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_about
        order by about_id desc
        <if test="start != null and limit!= null">
            limit #{start} ,#{limit}
        </if>
    </select>

    <insert id="insertSelective" parameterType="com.ada.blog.entity.About">
        insert into tb_about
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aboutId != null">
                about_id,
            </if>
            <if test="aboutType != null">
                about_type,
            </if>
            <if test="aboutName != null">
                about_name,
            </if>
            <if test="aboutUrl != null">
                about_url,
            </if>
            <if test="aboutDescription != null">
                about_description,
            </if>
            <if test="aboutImage != null">
                about_image,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aboutId != null">
                #{aboutId,jdbcType=INTEGER},
            </if>
            <if test="aboutType != null">
                #{aboutType,jdbcType=TINYINT},
            </if>
            <if test="aboutName != null">
                #{aboutName,jdbcType=VARCHAR},
            </if>
            <if test="aboutUrl != null">
                #{aboutUrl,jdbcType=VARCHAR},
            </if>
            <if test="aboutDescription != null">
                #{aboutDescription,jdbcType=VARCHAR},
            </if>
            <if test="aboutImage != null">
                #{aboutImage,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


</mapper>