<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ada.blog.mapper.AdminUserMapper">
    <resultMap id="BaseResultMap" type="com.ada.blog.entity.AdminUser">
        <id column="admin_user_id" jdbcType="INTEGER" property="adminUserId"></id>
        <result column="login_user_name" jdbcType="VARCHAR" property="loginUserName"/>
        <result column="login_password" jdbcType="VARCHAR" property="loginPassword"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="locked" jdbcType="TINYINT" property="locked"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        admin_user_id ,login_user_name ,login_password,nick_name ,locked,create_time,update_time
    </sql>

    <select id="login" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_admin_user
        where login_user_name = #{userName,jdbcType=VARCHAR} AND login_password=#{password,jdbcType=VARCHAR} AND locked
        = 0
    </select>

    <select id="selectByPrimaryKey" parameterType="integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_admin_user
        where admin_user_id = #{adminUserId,jdbcType=INTEGER}
    </select>


    <insert id="insertSelective" parameterType="com.ada.blog.entity.AdminUser">
        insert into tb_admin_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="adminUserId != null">admin_user_id,</if>
            <if test="loginUserName != null">login_user_name,</if>
            <if test="loginPassword != null">login_password,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="locked != null">locked,</if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <trim>
            <if test="adminUserId != null">
                #{adminUserId,jdbcType=INTEGER},
            </if>
            <if test="loginUserName != null">
                #{loginUserName,jdbcType=VARCHAR},
            </if>
            <if test="loginPassword != null">
                #{loginPassword,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                #{locked,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ada.blog.entity.AdminUser">
        update tb_admin_user
        <set>
            <if test="loginUserName != null">
                login_user_name = #{loginUserName,jdbcType=VARCHAR},
            </if>
            <if test="loginPassword != null">
                login_password = #{loginPassword,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=TINYINT},
            </if>
            update_time = Now(),
        </set>
        where admin_user_id = #{adminUserId,jdbcType=INTEGER}
    </update>


    <select id="getUserList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_admin_user
        <if test="start != null and limit!= null">
            limit #{start} ,#{limit}
        </if>
    </select>

    <select id="getUserListTotal" parameterType="Map" resultType="java.lang.Integer">
        select count(1) from tb_admin_user
    </select>

    <delete id="deleteBatchUser">
        delete from tb_admin_user
        where admin_user_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>